@font-face { /* Style de police normal*/
    font-family: "Raleway";
    src: url("Raleway/Raleway-Regular.ttf");    
}
@font-face {
        font-family: "Ralewaybold";
        src: url("Raleway/Raleway-Bold.ttf");        
}
@font-face {
        font-family: "Ralewaymedium";
        src: url("Raleway/Raleway-Medium.ttf");
}

body{
    font-family: "Ralewaymedium", sans-serif, Georgia;
    width: auto;
    height: auto;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
   

}
/*  ***     ***     *** Mise en place de la section Header***      ***     ***  */
header{
    display: flex;
    justify-content: space-between;
    

   
}

.logo{
        height: auto;
        width: 100px;
        margin-right: auto;
        padding-top: 20px;
        align-self: flex-end;
        flex: 80%;
}

.logoheader{
        flex: 50%;
}

.choix{     
        padding-top: 20px;       
}
 
nav ul{
        display: inline-flex;
        list-style-type: none;
        
}

nav li{
        margin-right: 40px;
}

nav a{
       text-decoration: none;
       color: black;    

}


nav a:hover, .sinscrire:hover{
        color: #0065FC;
        border-top: 2px solid #0065FC;
        padding-top: 34px;
 
}

.sinscrire{
      padding-top: 36px;
      color: #0065FC;
      font-weight: bold;
      margin-left: 5px;


}


/*  ***     ***     *** Mise en page de la section recherche***     ***     ***  */
h1{
        
        
        font-size: 1.2em;
        font-weight: bold;
}

p{
        font-size: 0.8em;
        
}
.logoloca{
        background-color: #F2F2F2;
        padding: 9px 10px 12px 9px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border: solid #F2F2F2 1px;
        margin-right: -5px;
}

.localiser{
        padding: 10px 10px 10px 10px;
        border: solid 1px #F2F2F2;
    
}


::placeholder{
       
       font-weight: bold;
       color: black;
       font-size: 1em;
}

.rechercher{
        color: white;
        background-color: #0065FC;
        font-weight: bold;
        padding: 12px 10px 10px 11px;
        font-size: 0.9em;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin: -5px;

}

.recherloupe{
        visibility: hidden;
}

/*  ***     ***     *** Mise en place de la section filtres***      ***     ***   */
.filtres{
    display: flex;
    align-items: center;
    font-weight: bold;

}


.filtresearch{
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 56px; /* Hauteur de ligne*/
}

.filtre{
    padding: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 23px;
    padding-left: 49px;
    position:relative;
    right:44px;
}

.rond_bleu{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 12px;
    border-radius: 50px;
    width:20px;
    text-align:center;
}

.infosup{
        display: flex;
        margin:0px;
        margin-bottom: 1.2em;
        
}

.cercle{
        border: 1px solid #DEEBFF;
        height: 1.5em;
        width: 1.5em;
        border-radius: 50%;
        text-align: center;
        vertical-align: top;
        margin-right: 10px;
}

.Iinfo{
        text-align: center;
        vertical-align: middle;
        font-size: 0.8em;
        color: #0065FC;
        
}

.lgtdispo{
        padding-top: 1px;
        margin-top: 15px;
}

/*              **      **      ** Section principale**         **      **       */

.principal{
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        
}

/*              **      **      **Hébergement**         **              **      */

article{
        display: flex;
        justify-content: space-between;
        background-color: #F2F2F2;
        flex-wrap: wrap;
        align-items: center;
        width: 60%;
        border-radius: 20px;
        padding: 20px;
        margin-right: 40px;
        
}

h2{
        font-size: 1.2em;
        font-weight: bold;
        width: 95%;
}

.hebergement{
        width: 100%;
}
.casehotel{
        height: auto;
        width: 30%;
        margin: 6px 6px 6px 6px;
        padding: 3px 3px 3px 3px;
        box-shadow: 3px 3px 8px 3px #DEEBFF;
        background-color: white;
        border-radius: 10px;
}

.rectphoto{
        width: 100%;
        margin: 0px;
        padding: 0px;
        border-radius: 10px 10px 0px 0px;
        height: 10em;

}

.photochambre{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        margin: 0px;
        object-fit: cover;
        object-position: center;

}
.nomH{
        text-decoration: none;
        color: black;
}

.nuità{
        text-decoration: none;
        color: black;
}

.nomhotel{
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: 12px;
        padding-left: 15px;      
        
}

.prixetoile{
        margin-top: 5px;
        font-size: 0.9em;

}

.noteetoileheb{
        margin: 0px;
        padding-left: 15px;
        padding-bottom: 4px;        
        
}

.noteetoileheb a{
        text-decoration: none;
}

.tarif{
        margin: 0px 0px 5px 0px;
        padding-left: 15px;
        
}

.prix{
        font-weight: bold;
}

.etoilebleu{
        font-size: small;
        color: #0065FC;
}

.etoilegrise{
        font-size: small;
        color: #DEEBFF;
}

.afficherplus{
        font-family: "Ralewaybold";
        width: 95%;
        height: 0px;
}


/*              **              **Plus Populaire**      **              **      */

aside{
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        width: calc(40% - 40px);
        

}

.titrepopu{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 80%;
        
}


.populaire{
        width: 80%;
        
}

.fleche{
        color: black;
        font-size: large;
}

aside .casehotel{
        display: flex;
        width: 80%;
        border-radius: 20px;
        box-shadow: 3px 3px 8px 3px #DEEBFF;
        margin: 10px;
        height: 9.9em;
}

aside .rectphoto{
        width: 35%;
        height: 96%;
        margin: 0px 10px 0px 0px;
        padding: 3px;
        border-radius: 20px 0px 0px 20px;
}

aside .photochambre{
        width: 100%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        object-fit: cover;
        object-position: center;
}

.écrit{
        
        width: 180px;
}

aside .nomhotel{
        margin: 0.5em 0em 0.3em 0.2em;
        padding-top: 5px;
        font-family: "Ralewaymedium";
}

aside .tarif{
        margin: 0em 0em 0em 0.2em;

}

aside .etoilebleu .etoilegrise{
        margin: 4em 0em 0em 0.2em;
}

.noteetoilepopu{       
        position: relative;
        left: 16px;
        top: 60px;
        
}

.noteetoilepopu1{
        position: relative;
        left: 16px;
        top: 75px;

}

.noteetoilepopu a, .noteetoilepopu1 a{
        text-decoration: none;
}


/*      **      **      **      **      **Partie Activités**    **      **      **      **      ***/

.activites{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 60px;
                
}

.activity h2{
        font-size: 1.3em;
        margin-top: 50px;
}



.entier{
        height: 400px;
        width: 23%;
        padding: 0px;
        border-radius: 20px;
        box-shadow: 3px 3px 8px 3px #DEEBFF;
        
}

.cadrelong{
        height: 350px;
        width: 100%;
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
}

.vuelong{
        width: 100%;
        height: 350px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        object-position: center;
}

.demi{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23%;
        
}

.moyencadre{
        height: 200px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 3px 3px 8px 3px #DEEBFF;
}

.fort{
        height: 160px;
        width: 100%;
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
}

.grosimg{
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        object-position: center;
}

.petitcadre{
        height: 150px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 3px 3px 8px 3px #DEEBFF;        
}

.frioul{
        height: 100px;
        width: 100%;
        margin: 0px;
        border-radius: 20px 20px 0px 0px;        
}

.petitimg{
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        object-position: center;        
}

.moitie{
        height: 190px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 3px 3px 8px 3px #DEEBFF;        
}

.demicadre{
        height: 140px;
        width: 100%;
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
}

.demiimg{
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        object-position: center;
}

.nomlieu{
        margin: 0px;
        font-family: "Ralewaybold";
        padding: 1em 0em 1em 1em;
}

.nomAct{
        text-decoration: none;
        color: black;
}

/*      **      **      **Mise en place du responsive design avec media queries**       **      **       */

@media screen and (max-width:1024px)
{
    body{
            
            margin: 0%;
            padding: 1px;
            
            
    }

    header{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
    }

    .logoloca{
            padding: 9px 15px 12px 15px;

    }

    .logo{
            width: 30%;
            margin-left: 8%;
    }

    .logoheader:nth-child(1){
            width: 20%;
            order: 1;

    }

    .sinscrire:nth-child(3){
            width: 20%;
            text-align: center;
            text-decoration: none;
            margin-right: 4%;
            order: 2;
    }


/*      **      **      **Responsive Nav Choix**        **      **      */

    .choix:nth-child(2){
            width: 100%;
            display: flex;
            justify-content: space-around;
            order: 3;
            line-height: 40px;
            
        }
        
    .choix:nth-child(2) ul{
            padding-inline-start: 0;
            width:100%;
            
    }

    .choix:nth-child(2) li{
            margin: auto;
            width:50%;
            text-align: center;
            border-bottom: 2px solid #F2F2F2;
            
    }

    .choix:nth-child(2) li:hover{
            border: none;
            color: #0065FC;
            border-bottom: 2px solid #0065FC;
            
    }

    nav a:hover{
            border-top: none;
        }
        
/*           **      **      **      **Responsive partie search**    **      **      **      */

        H1{
                font-size: 1.3em;
        }
    
        p{
                font-size: 1em;
                margin-bottom: 25px;
        }

    .searchecrit{
            margin-left: 6%;
            width: 80%;            
        
    }
    
    .formsearch{
            
            margin-left: 6%;
            width: 100%;
            justify-content: center;
            font-size: 1em;
                                
            
    }

    input{
            font-size: 1em;
    }



    .rechercher{
            visibility: hidden;
    }

    
    .recherloupe{
        visibility: visible;
        color: white;
        background-color: #0065FC;
        font-weight: bold;        
        font-size: 0.8em;
        border: none;
        border-radius: 10px;
        margin-left: -27%; 
        padding: 12px 14px 12px 14px;
    }



        /*  **      **      **      **Responsive pour la partie filtres**      **      **       */
    
        H4{
                font-size: 1.2em;                               
        
        }

    .filtres{
            
            flex-direction: column;
            align-items: initial;
            margin-left: 6%;
            margin-right: 10%;
    }

    .filtresearch{
            display: flex;                   
            flex-direction: row;
            flex-wrap: wrap;
            font-size: 1.1em;
            margin: 0%;          
                  
    }

    .money, .famille{
            margin-right: -6%;
    }

    .infosup{
            margin-left: 6%;
    }




    

  


    
/*      **      **      **      **Responsive sur la partie principal**         **      **      */
        
        .principal{
                flex-direction: column-reverse;
                padding: 0px;
                width: auto;
        }

        
        aside{
                width: auto;
                height: auto;
                background-color: #F2F2F2;
                justify-content: center;
                border-radius: 0;
                
        }
        
        .noteetoilepopu, .noteetoilepopu1{       
                position: relative;
                left: 16px;
                top: 35px;
                
                
        }
        
        article{
            width: auto;
            height: auto;
            background-color: white;
            justify-content: center;
        }

    .casehotel{
            width: 100%;
            
        }

    .hebergement{
            width: 100%;
            font-size: 1.3em;
   
        }
        
/*      **      **      **      **Responsive pour la partie activités**         **      **      **      */

        .activites{
                display: flex;
                
                flex-wrap: wrap;
                width: auto;
                justify-content: space-around;
                margin-bottom: 0px;
                align-items: initial;
                                
        }

        .activity h2{
                width: auto;
                
        }

        .entier{
                height: 150px;
                width: 90%;
                margin-bottom: 10px;
                

        }


        .cadrelong, .frioul, .fort, .demicadre{
                height: 100px;
                width: auto;
        }

        .demi{
                width: 90%;
               
        }

        .moitie, .petitcadre, .moyencadre{
                width: 100%;
                margin-bottom: 25px;                
        }

        
        .vuelong{
                height: 170px;
        }

    
}
